# Permitir que Git entre en CUALQUIER directorio para buscar archivos
!/**/

# Bloquear específicamente el CONTENIDO de las carpetas que no queremos subir al repo
# Ignoramos archivos, pero la regla !/**/ mantiene la carpeta abierta
/app/**/*

# Permitir todos los README.md en cualquier nivel
!**/README.md
!/ansible/README.md
!/terraform/GCP/README.md
!/terraform/AWS/README.md

# EXCEPCIONES: Lo que queremos mantener completo
!/ansible/**
!/terraform/AWS/**
!/terraform/GCP/**
!/Final-Task_2025.txt

# -------------------------------------------------------------------------
# REGLAS DE SEGURIDAD (Incluso para las carpetas permitidas)
# -------------------------------------------------------------------------

**/.terraform/
*.json
*.tfstate
*.tfstate.*
*.lock.hcl
*machete*.*
*.ppk
*.pem
*.pdf
*.zip
**/*.OLD
**/.ssh/*
*.jpg
*.png
*.dot
*.pub

