# BACKEND_URL={{ lookup('aws_ssm', '/' ~ env ~ '/frontend/backend_url', region=aws_region) }}
# PORT={{ lookup('aws_ssm', '/' ~ env ~ '/frontend/backend_port', region=aws_region) }}
BACKEND_URL={{ backend_url }}
PORT={{ frontend_port }}


