USE {{ db_name }};

CREATE TABLE IF NOT EXISTS publications (
    name VARCHAR(255) PRIMARY KEY,
    avatar VARCHAR(255)
);

CREATE TABLE IF NOT EXISTS reviewers (
    name VARCHAR(255) PRIMARY KEY,
    publication VARCHAR(255),
    avatar VARCHAR(255),
    FOREIGN KEY (publication) REFERENCES publications(name)
);

CREATE TABLE IF NOT EXISTS movies (
    title VARCHAR(255),
    release_year INT,
    score INT,
    reviewer VARCHAR(255),
    publication VARCHAR(255),
    FOREIGN KEY (reviewer) REFERENCES reviewers(name),
    FOREIGN KEY (publication) REFERENCES publications(name)
);
