---
project_name: "movie-analyst"
gcp_project_id: "courseproject-20201117"

# Must be sure that the Ansible machine has a SA properly configured
gcpcli_user: "ubuntu"
gcp_region: "us-east1"
env: "qa"
app_user: "movie_app_user"

repo_url: "https://github.com/aljoveza/devops-rampup.git"
app_source_path: "/tmp/devops-rampup-master"
backend_name: "movie-api"
frontend_name: "movie-ui"

frontend_source_path: "{{ project_name }}-ui"
backend_source_path: "{{ project_name }}-api"

backend_dir: "/opt/{{ backend_name }}"
frontend_dir: "/opt/{{ frontend_name }}"

gcp: "{{ lookup('pipe', 'gcloud compute project-info describe --format=\"value(commonInstanceMetadata.ansible_vars)\"') | from_json }}"

backend_ip: "{{ gcp.internal_lb_ip }}"
frontend_ip: "{{ gcp.external_lb_ip }}"
backend_port: "{{ gcp.backend_port }}"
frontend_port: "{{ gcp.frontend_port }}"

cloudsql_instance_name: "{{ project_name }}-mysql-{{ env }}"
db_name: "movie_db"
db_user: "{{ db_name }}_user"
gcp_secret_name: "{{ project_name }}-{{ env }}-db-password"
