---
project_name: "movie-analyst"
gcp_project_id: "courseproject-20201117"
# Must be an OS user that has the GCP credentials
gcpcli_user: "ubuntu"
gcp_region: "us-east1"
env: "qa"
gcp_service_account_file: "/home/{{ gcpcli_user }}/{{ gcp_project_id }}_{{ project_name }}-ansible-sa-{{ env }}.json"
app_user: "movie_app_user"

repo_url: "https://github.com/aljoveza/devops-rampup.git"
app_source_path: "/tmp/devops-rampup-master"
backend_name: "movie-api"
frontend_name: "movie-ui"

frontend_source_path: "{{ project_name }}-ui"
backend_source_path: "{{ project_name }}-api"

backend_dir: "/opt/{{ backend_name }}"
frontend_dir: "/opt/{{ frontend_name }}"
backend_port: 3000
frontend_port: 3030
backend_host: "{{ groups['backend'] | first }}"
backend_url: "{{ backend_host }}:{{ backend_port }}"
# This URL has an ALB ID that changes every time the ALB is deleted and created again
frontend_url: "35.201.111.20"

cloudsql_instance_name: "{{ project_name }}-mysql-{{ env }}"
db_name: "movie_db"
db_user: "{{ db_name }}_user"
gcp_secret_name: "{{ project_name }}-{{ env }}-db-password"

