plugin: google.cloud.gcp_compute
projects:
  - courseproject-20201117
region:
  - '{{ gcp_region }}'

auth_kind: serviceaccount
service_account_file: /home/ubuntu/courseproject-20201117-509c4c964370.json

filters:
  - labels.env = qa

keyed_groups:
  - key: labels.role
    separator: ''
    prefix: ''

groups:
  app_servers: "labels['role'] in ['frontend', 'backend']"

hostnames:
  - name

compose:
  ansible_host: networkInterfaces[0].networkIP