plugin: google.cloud.gcp_compute
projects:
  - courseproject-20201117
region:
  - '{{ gcp_region }}'

auth_kind: serviceaccount
service_account_file: /home/ubuntu/courseproject-20201117_movie-analyst-ansible-sa-qa.json

filters:
  - labels.env = qa

keyed_groups:
  - key: labels.role
    separator: ''
    prefix: ''

groups:
  app_servers: "labels['role'] in ['frontend', 'backend']"

hostnames:
  - name

compose:
  ansible_user: "'sa_108946747512411286266'"
  ansible_host: networkInterfaces[0].networkIP
  ansible_ssh_common_args: "'-o ProxyCommand=\"gcloud compute start-iap-tunnel ' + name + ' %p --listen-on-stdin --project=' + project + ' --zone=' + zone + '\"'"